.card {
  width: 20%;
  flex-grow: 0;
  margin-bottom: 30px;
}

.card__wrap {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 60px;
  min-height: 150px;

  background-color: $back-light;

  svg {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}