// .footer {}

.footer__wrap {
  padding-top: 36px;
  padding-bottom: 36px;
  border-top: 1px solid rgb(105, 105, 105);
}

.footer__list {
  padding: 20px;
  height: 100%;

  background-color: $gray;

  &.list--num {
    column-count: 2;
  }
}
