.sidebar {
  color: $white;
  background-color: $gray;
  padding: 20px;
}

.sidebar__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.sidebar__desc {
  margin: 0;
  // margin-top: 4px;
  margin-bottom: 2px;
}